{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended",
    "plugin:web/all",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["react", "@typescript-eslint", "jest", "only-warn", "sonarjs"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": ["interface", "typeAlias"],
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "react/jsx-no-literals": [
      "warn",
      {
        "ignoreProps": false,
        "allowedStrings": [
          "(",
          ")",
          "[",
          "]",
          "+",
          "%",
          ":",
          "---",
          "RaidExtract",
          "GitHub"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "sonarjs/cognitive-complexity": "off",
    "sonarjs/max-switch-cases": "off",
    "import/no-absolute-path": "warn",
    "import/no-dynamic-require": "warn",
    "import/no-self-import": "warn",
    "import/no-cycle": "warn",
    "import/no-useless-path-segments": "warn",
    "import/no-deprecated": "warn",
    "import/no-mutable-exports": "warn",
    "import/unambiguous": "warn",
    "import/no-commonjs": "warn",
    "import/no-amd": "warn",
    "import/no-nodejs-modules": "warn",
    "import/first": "warn",
    "import/no-namespace": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "index",
          "sibling",
          "parent",
          "internal",
          "external",
          "builtin",
          "object"
        ],
        "newlines-between": "always"
      }
    ],
    "import/newline-after-import": "warn",
    "import/prefer-default-export": "warn",
    "import/no-unassigned-import": ["warn", { "allow": ["**/*.scss"] }],
    "import/no-named-default": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
